#opening-hour-specification-item .form-type-checkbox,
#opening-hour-specification-item .form-type-textfield,
#edit-geo .form-type-textfield,
#edit-address .form-item-postalCode,
#edit-address .form-item-addressLocality {
  display: inline-block;
  margin-right: 1em;
}

#opening-hour-specification-item .form-submit  {
  display: block;
}