.field-type-tuesday-registration-dates .form-radios {
  display: table;
  width: 100%;
}

.field-type-tuesday-registration-dates .form-radios .form-item {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border: solid 1px #ccc;
  border-left: none;
  padding: 15px 0;
}

.field-type-tuesday-registration-dates .form-radios .form-item:first-child {
  border-left: solid 1px #ccc;
}