.ui-datepicker .ui-datepicker-today a {
  background: transparent; 
  border: none;
  font-weight: bold;
}

#registration-multi-datepicker {
  float: left;
  position: relative;
  margin-bottom: 2em;
  margin-right: 1.5em;
  margin-left: 1em;
}

#registration-date-summary {
  float: left;
  position: relative;
  margin-left: 4em;
  margin-bottom: 2em;
  padding-bottom: 1em;
  min-height: 215px;
}

#registration-date-summary:before {
  background-color: #cccccc;
  content: "";
  height: 100%;
  position: absolute;
  left: -3em;
  top: 0;
  width: 0.25em;
}

#registration-date-summary .hidden-list {
  display: none;
}

#registration-date-summary .sub-list {
  float: left;
  margin: 0 1.5em 0 0;
}

#registration-date-summary .sub-list li {
  font-size: 16px;
  list-style: none;
}
#registration-date-summary a.delete-event-date {
  width: 24px;
  height: 24px;
  background: url('img/remove.png') scroll no-repeat center center transparent;
  background-size: 24px;
  display: inline-block;
  vertical-align: bottom;
}

#registration-date-summary a.delete-event-date span {
  display: none;
}