#tuesday-popup .expand-banner {
  position: relative;
}

#tuesday-popup .expand-banner .close-expand-banner {
  position: absolute;
  right: 0;
  top: 0;
}

#tuesday-popup .expand-banner .media-element {
  margin: auto;
}

#module-tuesday-popup .modal-dialog .modal-content .modal-header {
  border-radius: 0;
}

#module-tuesday-popup .modal-dialog .no-padding {
  margin: -21px -20px -20px;
}
